
/*nav*/
nav{
  width:100%;
  line-height:40px;
  color:white;
  background-color: #24292e;
  margin:-10px;
  padding:0px 30px 0px 0px;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  overflow: hidden;
}

input{
  outline:none;
  border-radius: 3px;
  border:5px grey;
  margin-top: 5px;
  margin-right: 20px;
  background-color:#3f4448;
  width:250px;
  height:35px; 
  background-image: url(https://github.githubassets.com/images/search-key-slash.svg);
  background-position: 95%;
  background-repeat: no-repeat;
}
input:focus {
  background: transparent;
  background-color: white;
}
input.nav_sign_search{
 text-align: left;
 padding-left: 8px;
 color:grey;
 font-family: sans-serif;
 font-size: 15px;
}

/*first_level*/


.nav_ul{
  float: left;
  list-style: none; 
  margin-left: 40px; 
  margin-bottom: 10px;
}

.nav_ul li{
 margin-top: 5px;
 margin-left: 15px;
 float: left;
 font-size: 16px;
}

.nav_ul li:hover{
 display: block;
  color:grey;
}
.nav_ul li a:hover{
 display: block;
 color:grey;
}
.nav_ul li a{
 display: block;
 text-decoration:none;
 color:white;
 font-size: 16px;
}


/*second*/
.nav_ul_ul {
  width: 250px;
  line-height:30px;
  margin: 10px 15px 5px -20px;
  list-style: none;
  background: white;
  color: black;
  border-radius: 5px 5px;
  box-shadow:0px 0px 2px #ddd; 
  position: absolute;
  float: left;
}


.nav_ul_ul li{ 
 padding: 0px;
 margin: 0px 0px 0px -20px;
 font-weight: lighter;
 float: none;
}

.nav_ul_why .nav_ul_ul{
 display: none;
}
.nav_ul_explore .nav_ul_ul{
 display: none;
}
.nav_ul_pricing .nav_ul_ul{
 display: none;
}

.nav_ul_why:hover .nav_ul_ul{
 display: block;
}
.nav_ul_explore:hover .nav_ul_ul{
 display: block;
}
.nav_ul_pricing:hover .nav_ul_ul{
 display: block;
}

.nav_ul_ul li a:hover{
 text-decoration:none;
 color:lightblue; }
 
.nav_ul_ul li a{
 display: inline-block;
 font-size: 14px;
 color:black;
}



/*sign*/

.nav_sign{
 float: right;
 margin-bottom: 15px;
 margin-right: 40px; 
 list-style: none;
 line-height:30px;
}

.nav_sign li{
 margin-top: 10px;
 margin-right: 20px;
 float: right;
 font-size: 16px;

}

.nav_sign_up{
 border: 1px white solid;
 border-radius: 3px;
 width:70px;
 height: 30px;
 text-align: center;
}


.nav_sign li a:hover{
 display: block;
  color:grey;
}
.nav_sign li a{
 display: block;
 text-decoration:none;
 color:white;
}

main {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 125.667px;
    margin-left: 125.667px;
    width: auto;
    font-size: 16px;
    line-height: 1.5;
    color: black;}


.title {
    padding-top: 80px;
    color: #24292e;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 60px;
    text-align: center;
}

.description {
    margin-bottom: 64px;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 30px;
    color: #586069;
    text-align: center;
}

.sub-description {
    margin-bottom: 40px;
    color: #586069;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.note {
    text-align: center;
    margin-bottom: 40px;
    color: #6a737d;
    line-height: 18px;
    font-weight: 350;
    font-size: 12px;
}

.container {
    height: 140.667px;
    border: 1px solid #e1e4e8;
    text-align: center;
    margin-bottom: 24px;
    box-shadow: 0px 1px #dfe2e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 33.333%;
    padding: 40px 16px;
    border-right: 1px solid #e1e4e8;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 24px;
    color: #24292e;
}

.box > p {
    font-size: 14px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: #586069;
    font-weight: 300;
}

hr {
    margin-top: 48px;
    margin-bottom: 48px;
    border-top: 0.1px solid lightgray;
}

.ul-box {
  list-style: none;
  width: 100%;
}

.li-box {
  float: left;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 50%;
}

.row-box {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.link-box {
  width: 50%;
  height: 30px;
  padding: 0 24px;
}

.link-style {
  text-decoration: none;
  color: #0366d6;
  font-size: 16px;
}

.text-h3 {
  font-size: 20px;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 500;
}

.paragraph-box {
  margin-bottom: 34px;
  color: grey;
  width: 50%;
  height: 48px;
  padding: 0px 24px 0px 24px;
}

.button-box {
  width: 208px;
  height: 66px;
  padding: 16px 24px 16px 24px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 3px;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
}

.button-outline {
  color: #1074e7;
  background-color: hsla(0,0%,100%,0);
  border-color: rgba(16,116,231,.5);
}

.picture-align {
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.button-center {
  text-align: center;
}